<script type="application/ld+json">{
    "@context": "https://schema.org",
    "@graph": [
      {
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "{{ rating_value }}",
          "ratingCount": "1",
          "bestRating": "5",
          "worstRating": "1"
        }
      },
      {
        "@type": "Review",
        "itemReviewed": {
          "@type": "Course",
          "@id": "{{ reviewed_entity_id }}",
          "name": "{{ reviewed_entity_name }}",
          "url": "{{ reviewed_entity_url }}"
        },
        "author": {
          "@type": "Person",
          "name": "{{ reviewer_name }}"
        },
        "datePublished": "{{ review_date }}",
        "reviewBody": [
          "{{ review_body }}"
        ],
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "{{ rating_value }}",
          "bestRating": "5",
          "worstRating": "1"
        }
      }
    ]
  }</script>
