{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="container">
  <div class="reverse-mobile layout row layout-builder__layout">
    <div class="col-lg-4 col-md-12 col-12 left-sidebar">
      <div class="content">
        {# Registration is secure #}
        {{ drupal_entity('block_content', '182') }}
        {# Have questions or need help? #}
        {{ drupal_entity('block_content', '183') }}
        {# All classes include #}
        {{ drupal_entity('block_content', '113') }}
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-12 right-sidebar">
      {{ form }}
    </div>


  </div>
</div>

