{#
/**
* @file
* Template for the order receipt.
*
* Available variables:
* - order_entity: The order entity.
* - billing_information: The billing information.
* - shipping_information: The shipping information.
* - payment_method: The payment method.
* - totals: An array of order totals values with the following keys:
*   - subtotal: The order subtotal price.
*   - adjustments: An array of adjustment totals:
*     - type: The adjustment type.
*     - label: The adjustment label.
*     - total: The adjustment total price.
*     - weight: The adjustment weight, taken from the adjustment type.
*   - total: The order total price.
*
* @ingroup themeable
*/
#}
<table border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: Arial, Helvetica, sans-serif; font-size:15px; padding: 6px; max-width:600px">
  <tr>
    <td colspan="2" style="padding-bottom:20px;">Thank you for your course registration. If you have any questions about your class, call us at 781-376-6044. Your
      course registration details are below.</td>
  </tr>
  <tr>
    <td colspan="2" valign="top" style="padding-bottom:20px;  max-width="100%"><img alt="American Graphics Institute Logo" src="{{ url('<front>') }}/themes/custom/agitraining/images/logo_top_w_text.png"></td>
  </tr>
  <tr>
    <td colspan="2" align="center"  style="font-weight: bold; font-size:15px; padding-bottom:20px">Order Summary</td>
  </tr>
  <tr>
    <td valign="top" width="50%" style="line-height:17px;">
      <span style="font-weight:bold">Account No: </span>{{ order_entity.uid.0.value.target_id }}<br>
      <p><span style="font-weight:bold">Order Date: </span>{{ order_entity.created.value | date('d F, Y') }}<p>
        <span style="font-weight:bold">Billing Address:</span><br>
        {% if billing_information | render %}
          {{ billing_information | render }}
        {% endif %}
    </td>
    <td valign="top" style="line-height:17px" max-width="50%">
      <span style="font-weight:bold">Web Order No:</span> {{ order_entity.order_id.value }}<br>
      <p><span style="font-weight:bold">Email Address:</span> {{ order_entity.mail.value }}</p>
      {%  set payment_method = order_entity.payment_gateway.0.target_id %}
      {% if payment_method  == 'commerce_cheque' %}
        {% set payment = 'Check by Mail' %}
      {% elseif payment_method  == 'paypal_express_checkout' %}
        {% set payment = 'PayPal' %}
      {% elseif payment_method  == 'authorize_net_test' %}
        {% set payment = 'Credit Card' %}
      {% endif %}
      <span style="font-weight:bold">Payment Method:</span> {{ payment }}<br>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:18px; font-weight:bold; padding-top: 30px; padding-bottom: 20px">American Graphics Institute Course Registration</td>
  </tr>
  <tr>
    <td colspan="2">
      <table border="0" cellspacing="0" cellpadding="6">
        <tr align="center" style="font-weight: bold">
          <td>Course<br />Number</td>
          <td>Your<br />Courses</td>
          <td>Location</td>
          <td>Date(s)</td>
          <td>Fee</td>
          <td>No. of<br />Students</td>
          <td>Total</td>
        </tr>
        {% for order_item in order_entity.getItems() %}
          {% set item = order_item.id %}
          {{ drupal_entity('commerce_order_item', item, 'summary') }}
        {% endfor %}
        <tr>
          <td colspan="7" style="padding-bottom:20px"><span style="font-weight:bold">Total:</span> {{ totals.total }}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table border="0" width="100%">
        <tr>
          <td colspan="4" style="font-weight:bold; padding-bottom: 20px">Student(s) & operating system:</td>

        </tr>
        {% for course, students in student_seats %}
        <tr>
          <td colspan="4" style="padding-bottom: 20px;">{{ course }}</td>
        </tr>
        <tr style="font-weight:bold">
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>OS</td>
        </tr>
        {% for student in students %}
          <tr>
            <td class="tg-0lax" width="200px">{{ student.first_name }}</td>
            <td class="tg-0lax" width="200px">{{ student.last_name }}</td>
            <td class="tg-0lax" width="300px">{{ student.email }}</td>
            <td class="tg-0lax" width="300px">{{ student.pc_or_mac | capitalize }}</td>
          </tr>
        {% endfor %}
        {% endfor %}
        <tr>
          <td colspan="4" style="padding-top:20px; font-weight:bold">Materials shipping address for online courses. For classroom training, materials will
            be provided at the class.
            <p> {{ order_entity.field_field_materials_address.0.value }}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-top:20px; padding-bottom:10px">American Graphics Institute <br />
      Administrative Offices: 8 Cabot Rd., Woburn, MA 01801 <br />
      Phone: 781-376-6044. Email: info@agitraining.com</td>
  </tr>
</table>
