{#
/**
 * @file
 *
 * Default template for commerce order items.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order_item: The rendered oreder item fields.
 *   Use 'order_item' to print them all, or print a subset such as
 *   'order_item.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order_item|without('title') }}
 *   @endcode
 * - commerce_order_item_entity: The order item entity.
 *
 *   To get some value from product use {{ order_item_entity.getPurchasedEntity.getProduct.something }}.
 *
 * @ingroup themeable
 */
#}
{#<div{{ attributes }}>#}
{#  {{- order_item -}}#}
{#</div>#}
  <tr>
    <td>
      {{ order_item_entity.getPurchasedEntity().getSku }}
    </td>
    <td>
    {{ order_item_entity.getPurchasedEntity().field_event_name.0.entity.label }}
    </td>
    <td>
      <span class="il">{{ order_item_entity.getPurchasedEntity().field_event_location.0.entity.label }}</span>
    </td>
    <td>
      <span>{{ order_item_entity.getPurchasedEntity().field_event_start_date.value | date("l j F Y", "America/New_York") }}</span>
      <br/>
      <span> {{ order_item_entity.getPurchasedEntity().field_event_start_date.value | date("g:i A", "America/New_York") }}</span>
    </td>
    <td>

      ${{ order_item_entity.unit_price.0.value.number | round(2) }} USD
    </td>
    <td>
      {{ order_item_entity.quantity.0.value | round }}
    </td>
    <td>
      ${{ order_item_entity.total_price.0.number | round(2) }} USD
    </td>
  </tr>
