{{ location_info.description }}
{{ location_info.directions }}
<div class="mt-3">{{ location_info.map }}</div>
{{ location_info.suggestions }}
<h4>{{ 'Popular Courses in'|t }} {{ location_info.name }}</h4>
<div class="field__items row">
  {% for pupular_course in location_info.popular_courses %}
    <div class="field__item col-md-6">
      <a href="{{ path('entity.node.canonical', {'node': pupular_course.id()}) }}">{{ pupular_course.label() }}</a>
    </div>
  {% endfor %}
</div>
