<div class="d-flex align-items-center">
  <div class="d-flex mr-1">
  {% for stars in 1..average_review %}
    <div class="review-stars p-1">
      <img src="/modules/custom/agi_blocks/images/star.svg" width="20" height="20" alt="All Ratings">
    </div>
  {% endfor %}
  </div>

  <p class="m-0">{{ block_rating_text }}</p>
</div>
