<div class="secondary-navigation d-flex">
  <a class="blue-button btn btn-primary mr-2" href="#toc-contents">{{ view_content_text }}</a>
  <a href="{{ view_errata_link }}" class="blue-button  btn btn-primary mr-2">{{ view_errata_text }}</a>
  <a href="{{ register_link }}" class="blue-button btn btn-primary mr-2">Register</a>
  {% if resources_link is not empty and logged_in %}
  <a href="{{ resources_link }}" class="blue-button btn btn-primary">Resources</a>
  {% endif %}
</div>
