<h4>{{ block_header }}</h4>
<div class="field__items">
  {% for course in courses %}
    <div class="field__item">
      <a href="{{ path('entity.node.canonical', {'node': course['nid']}) }}">{{ course['label'] }}</a>
    </div>
  {% endfor %}
</div>
