<h5>{{ block_header }}</h5>
<p>{{ block_text }}</p>
<select id="find-class">
  <option value="" selected="selected">Find a Class</option>
  {% for training_class in training_classes %}
    <option value="{{ training_class['alias'] }}">{{ training_class['label'] }}</option>
  {% endfor %}
</select>
