 <div class="agi-quiz-results container {{ quiz_type }}">
  <div class="row quiz-nav">
    <div class="col-xs-12">
      <h1>{{ quiz_title }}</h1>
    </div>
  </div>
   {% if pass == 1 %}
  <div class="row">
    <div class="score col-xs-12 {{ pass ? 'pass' : 'fail' }}">
      <p>You answered {{ correct }} out of {{ total }} questions correctly.</p>
      <p>Questions answered correctly:</p>
      <ul>
        {% for question in correct_answer_questions %}
        <div class="question">
          <li><div class="question-text">{{ question | raw }}</div></li>
        </div>
        {% endfor %}
      </ul>
    </div>
    <div class="row">
       <div class="col-xs-12">
         <div class="summary summary-pass">{{ summary_pass | raw }}</div>
       </div>
     </div>
   {% endif %}

  {% if pass == 0 %}
    <div class="row">
    <div class="score col-xs-12 {{ pass ? 'pass' : 'fail' }}">
      <p>You answered {{ correct }} out of {{ total }} questions correctly.</p>
      <p>Questions answered incorrectly:</p>
      <ul>
      {% for question in incorrect_answer_questions %}
      <div class="question">
        <li><div class="question-text">{{ question | raw }}</div></li>
      </div>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="summary summary-default">{{ summary_default | raw }}</div>
    </div>
  </div>
  {% endif %}

  <div class="quiz-score-submit" style="display:none;">
    {{ children }}
  </div>
</div>

