<div class="navbar-brand-container col-md-4">
  <div class="navbar-brand d-flex align-items-center" itemscope itemtype="http://schema.org/Organization">

    {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Training and Classes at American Graphics Institute'|t }}" rel="home" class="site-logo d-block" itemprop="url">
      <img src="{{ site_logo }}" alt="{{ 'Adobe training, UX Courses, and Photoshop Classes at AGI'|t }}" width="52" height="52" class="mr-2" itemprop="logo" />
    </a>
    {% endif %}

    <div>
      {% if site_name %}
      <h5 class="m-0">
        <a href="{{ path('<front>') }}" title="{{ 'Training and Classes at American Graphics Institute'|t }}" rel="home" class="site-title">
          <span itemprop="name">{{ site_name }}</span>
        </a>
      </h5>
      {% endif %}

      {% if site_slogan %}
      <div class="site-slogan">{{ site_slogan }}</div>
      {% endif %}
    </div>
  </div>
</div>
