{% set category = drupal_token('agi:category_short_name') %}
{% if 'Online' in drupal_token('agi:location_city_short_name') %}
  {% set location = drupal_token('agi:location_city_short_name') %}
{% elseif 'Private' in drupal_token('agi:node_title') %}
  {% set location = '' %}
{% else %}
  {% set location = 'in ' ~ drupal_token('agi:location_city_short_name') %}
{% endif %}
{% set body_one = content.field_body_one | render %}
{% set body_two = content.field_body_two | render %}

{% set location_image_one = drupal_entity('media', drupal_token('agi:location_image_one'), 'hero') %}
{% set location_image_two = drupal_entity('media', drupal_token('agi:location_image_two'), 'hero') %}


{% if 'Private' in drupal_token('agi:node_title') %}
  {% set heading = 'Private ' ~ category ~ ' Classes' %}
{% else %}
  {% set heading = category ~ ' Classes ' ~ location %}
{% endif %}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div class="additional-info mb-5">
    <h3 class="mb-4 h4">{{ heading }}</h3>
    <div class="row mb-3">
      {% if location_image_one is not null %}
        <div class="col-md-5">
          {{ location_image_one }}
        </div>
      {% endif %}
      <div class="col-md-7">
        <h6 class="h4">About {{ heading }}</h6>
        {{ body_one }}
      </div>
    </div>
    <div class="row">
      {% if location_image_two is not null %}
        <div class="col-md-5">
          {{ location_image_two }}
        </div>
      {% endif %}
      <div class="col-md-7">
        <h6 class="h4">{{ category }} Courses {{ location }} from expert instructors</h6>
        {{ body_two }}
      </div>
    </div>
  </div>
</section>

