{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% set nid = view.args.0 %}
{% set result_count = view.result | length %}
{% set results = view.result %}
{% set latest_review = view.result.0.node__body_body_value %}
{% set latest_reviewer_name = view.result.0.node__field_reviewer_name_field_reviewer_name_value %}
{% set sum = 0 %}
{% set total_of_reviews %}
  {% for result in results %}
    {% set sum = sum + result.node__field_review_rating_field_review_rating_value_1 %}
  {% endfor %}
{% endset %}
      {{ total_of_reviews }}
{% set average_raw = sum / result_count %}
{% set average = average_raw | round(0) %}

  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}

{% for i in 1..average %}
  <div class="review-stars">
    <use xlink:href="#training-reviews">
      <i class="fas fa-star"></i>
    </use>
  </div>
{% endfor %}

{% set site_url = url("<current>") | render | render %}

{% set review_vars = {
  reviewer_name: view.result.0.node__field_reviewer_name_field_reviewer_name_value,
  reviewed_entity_id: nid,
  reviewed_entity_name: view.result.0.node_field_data_node__field_review_category_title,
  reviewed_entity_url: site_url,
  review_date: node_field_data_created | date(m-d-YY),
  review_body: view.result.0.node__body_body_value,
  rating_value: view.result.0.node__field_review_rating_field_review_rating_value
} %}

{% include directory ~ '/templates/json_ld/review.html.twig' with review_vars %}

<span itemprop="name">Photoshop classes </span>rating:
<div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
  <span>{{ average }}</span> stars from
  <span>{{ result_count }}</span> reviewers
</div>
<span itemprop="description">{{ latest_review }}</span>" -<span itemprop="author"> {{ latest_reviewer_name }}</span>
{% if footer %}
  <div class="view-footer">
    {{ footer }}
  </div>
{% endif %}
