.review-stars {
  path {
    color: $primary;
  }
}

.path-reviews {
  .review-stars {
    path {
      color: $yellow;
    }
  }
}

.additional-info {
  .field--name-field-media-image {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.block-agi-block-secondary-category-images-block {
  img {
    margin-bottom: 1rem;
    max-width: 100%;
  }
}

.hero-image {
  max-height: 365px;
  overflow: hidden;

  &-overlay {
    position: absolute;
    background: #000;
    opacity: 0.5;
    z-index: 1;
  }

  .media--type-image,
  .field--name-field-media-image {
    width: 100%;

    img {
      width: 100%;
      height: auto;

      @media only screen and (max-width: 1180px) {
        width: auto;
        min-height: 340px;
      }
    }
  }

  .field--name-body {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    max-width: 65%;
    bottom: 30px;
    z-index: 2;

    @media only screen and (max-width: 1440px) {
      left: 0;
      right: auto;
      bottom: 0;
      max-width: 100%;
    }

    h1 {
      font-size: 1.85rem;
      color: white;

      @media only screen and (max-width: 991px) {
        font-size: 1.25rem;
      }
    }
  }
}

.block-agi-block-find-class-block {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
  border-left-color: #ff9801;

  select {
    max-width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.3rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.classes-near-me {
  #block-agitraining-breadcrumbs {
    .breadcrumb-item:nth-last-of-type(-n + 2) {
      text-transform: capitalize;
    }
  }
}

#block-exposedformsearchsearch-page,
#block-menu-search {
  @media only screen and (min-width: 991px) {
    padding-left: 0.8rem;
  }

  form {
    display: flex;

    @media only screen and (max-width: 991px) {
      align-items: center;
      height: 100%;
    }

    .form-item {
      padding: 0;
      margin: 0;
    }

    .form-type-search-api-autocomplete {
      margin-right: 0;

      input[type="text"] {
        height: auto;
        padding: 0.15rem 0.5rem;
        font-size: 0.8rem;
        width: 170px;
        font-weight: 300;
        background: white;

        @media only screen and (max-width: 991px) {
          padding: 0.5rem;
          width: 210px;
        }
      }
    }

    .form-actions {
      margin: 0;

      input {
        display: none !important;
      }
    }

    img {
      width: 32px;
      height: auto;
      padding: 0 5px;
      margin-top: 5px;
      cursor: pointer;

      @media only screen and (max-width: 991px) {
        width: 30px;
        padding: 0.4rem 0;
        margin: 0 0.4rem;
      }
    }
  }
}

#block-exposedformsearchsearch-page-2 {
  display: flex;
  flex-direction: column-reverse;

  h2 {
    margin-bottom: 1rem;
  }

  form {
    .form--inline {
      display: flex;
      align-items: center;

      .form-item {
        float: none;
      }

      .form-actions {
        display: none;
      }
    }
  }
}

ul {
  &.search-api-autocomplete-search {
    max-width: 225px;

    li {
      a {
        span {
          font-size: 0.9rem;
        }
      }
    }
  }
}

ul.quicktabs-tabs {
  margin-bottom: 2rem;

  li {
    margin: 0;

    .quicktabs-loaded {
      color: $primary;
      border: 1px solid $primary;
      display: inline-block;
      padding: 0.375rem 0.75rem;
      margin-bottom: 0.5rem;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:hover {
        text-decoration: none;
        color: #00436f;
      }
    }

    &.active {
      .quicktabs-loaded {
        color: $white;
        background-color: $primary;
      }
    }
  }
}

.block-field-blocknodelocationfield-location-city {
  float: left;

  div {
    &::after {
      content: ', ';
      margin-right: 0.3rem;
    }
  }
}

.block-field-blocknodelocationfield-microdata-description {
  font-style: italic;
}
