header {
  .navbar-brand-container {
    @media only screen and (max-width: 1365px) {
      flex-basis: auto;
      flex-grow: 1;
      max-width: 100%;
    }

    .navbar-brand {
      .site-logo {
        img {
          width: 52px;
          height: auto;
        }
      }

      .site-title {
        text-transform: none;
        letter-spacing: 0px;
        font-weight: normal;
        color: $black;

        @media only screen and (max-width: 991px) {
          font-size: 1.35rem;
        }

        @media only screen and (max-width: 767px) {
          font-size: 1.15rem;
        }

        &:hover {
          text-decoration: underline;
          color: $black;
        }
      }
    }
  }

  .navbar-toggler-icon {
    width: 100%;
    height: auto;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }

  @media only screen and (min-width: 992px) {
    #navbarSupportedContent {
      display: block;
    }
  }

  .menu--main {
    .dropdown-toggle {
      &::after {
        display: none;
      }
    }

    .menu--main-first-level {
      & > li {
        @media only screen and (max-width: 991px) {
          flex-direction: column;
        }

        & > a {
          white-space: normal;

          &:hover {
            background-color: $tertiary;
          }
        }
        &.show {
          > a {
            background-color: $tertiary;
          }
        }
      }
    }

    .menu--main-second-level {
      background-color: $cyan;

      @media only screen and (max-width: 991px) {
        flex-direction: column;
      }

      a {
        color: $black;

        &:hover {
          text-decoration: underline;
        }
      }

      ul {
        padding-top: 60px;

        li {
          a {
            font-size: 0.9rem;
            font-weight: 300;

            &.is-subheading {
              font-weight: 700;
            }
          }

          &:not(:first-child) {
            a {
              &.is-subheading {
                display: inline-block;
                margin-top: 1.5rem;
              }
            }
          }
        }
      }

      &.show {
        display: flex;
      }
    }

    .menu--main-secondary {
      ul {
        li {
          text-align: center;

          a {
            color: $white !important;

            &:hover {
              background-color: $tertiary;
            }
          }
        }
      }
    }
  }

  #block-agitraining-secondary-menu {
    @media only screen and (min-width: 991px) and (max-width: 1365px) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    ul.navbar-nav {
      li.nav-item {
        position: relative;

        a {
          font-size: 0.75rem;
        }

        .badge {
          position: absolute;
          top: 2px;
          right: 4px;
        }
      }
    }
  }
}

#block-agitraining-local-tasks {
  ul.nav-tabs {
    li {
      &.active {
        border: 0 none;
        padding: 0;

        a {
          &.is-active {
            display: block;
            padding: 0.5rem 1rem;
            border-color: $primary;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      a {
        font-size: 0.75rem;
        border: 0 none;
        border-bottom: 2px solid #ddd;
        padding: 0.5rem 0.8rem;

        &:hover {
          border-color: $primary;
        }
      }
    }
  }
}

.user-logged-in {
  .menu--secondary {
    ul {
      li {
        a[data-drupal-link-system-path="user/login"] {
          display: none;
        }
      }
    }
  }
}
