.view {
  .pager {
    margin-top: 1rem;
  }
}

.view-category-location-view,
.view-course-in-category-snippet {
  .view-content {
    .views-row {
      background-color: $gray-300;

      &:nth-child(even) {
        background-color: $white;
      }

      .views-field-nothing {
        a {
          @media only screen and (max-width: 767px) {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}

.view-category-location-page {
  span[itemprop="alternateName"] {
    display: none;
  }

  div[itemprop="description"] {
    margin-top: 1rem;
    font-style: italic;
  }

  .views-field-field-primary-image-slides-media {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.view-events {
  .cart-link {
    a {
      color: #212529;
      background-color: #ffc107;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      user-select: none;
      border: 1px solid #ffc107;
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;

      &:hover {
        background-color: #e0a800;
        border-color: #d39e00;
      }
    }
  }
}

.view-commerce-checkout-order-summary,
.view-commerce-cart-form,
.cart-form,
.checkout-pane-order-summary,
.view-upcoming-classes,
.view-commerce-user-orders,
.view-events,
.view-pri,
.view-upcoming-events {
  .bef-exposed-form {
    .form-radios {
      .form-type-radio {
        input {
          display: none;
        }

        label {
          @media only screen and (min-width: 767px) {
            font-size: 0.85rem;
          }
          cursor: pointer;
          color: $primary;
          background-color: $white;
          border-color: $white;
          text-align: center;
          vertical-align: middle;
          user-select: none;
          padding: 0.375rem 0.75rem;
          line-height: 1.5;
          border-radius: 0.25rem;
          transition: color 0.15s ease-in-out,
            background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;

          &.selected,
          &:hover {
            color: $white;
            background-color: $primary;
            border-color: $primary;
          }
        }
      }
    }
  }
  .view-content, #commerce_cart_form-cart-ajax-wrapper {
    .views-row {
      .card {
        .class-general-info {
          p {
            @media only screen and (min-width: 767px) {
              font-size: 0.85rem;
            }
            color: $gray-600;
            margin-bottom: 0;
          }
        }

        .class-location-info {
          @media only screen and (min-width: 767px) {
            font-size: 0.85rem;
          }
        }

        .cart-number-of-students {
          .form-item {
            margin: 0;
          }
        }

        .cart-remove-button {
          input {
            background-color: $gray-200;
            border-color: transparent;
            color: $gray-700;
            padding: 0.3rem 0.8rem;
            font-size: 0.8rem;
          }
        }

        .card-label {
          display: none;

          @media only screen and (max-width: 767px) {
            display: block;
          }
        }
      }

      &:nth-of-type(odd) {
        .card {
          background-color: $light-blue;
        }
      }

      &:nth-of-type(even) {
        .card {
          background-color: $white;
        }
      }
    }
  }
}

.view {
  .table {
    thead {
      background-color: $primary;
      color: $white;
    }

    &.table-striped {
      tbody {
        tr {
          td {
            border: 0 none;
            padding: 1rem;
          }

          &:nth-of-type(odd) {
            background-color: $white;
          }

          &:nth-of-type(even) {
            background-color: $light-blue;
          }
        }
      }
    }
  }
}

#edit-field-event-frequency-target-id--wrapper {
  margin-top: 0;
}

.view-all-news-articles,
.view-related-news-to-a-category {
  img {
    width: 100%;
  }
}

.view-all-news-articles {
  &.view-display-id-block_1 {
    .view-content {
      margin-top: 1rem;

      .views-row {
        margin-bottom: 2.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}

.view-category-location-image {
  .media--type-image {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.view-classes-in-category {
  .views-field-field-courses-in-category {
    ul {
      list-style-type: none;

      li {
        display: flex;
        justify-content: space-between;
        margin: 0 0 0.5rem;

        @media only screen and (max-width: 767px) {
          border-bottom: 1px solid $gray-300;
          padding-bottom: 0.5rem;
          align-items: center;

          .grey-title-link {
            width: 70%;
          }

          .grey-date-price-link {
            width: 30%;
            text-align: right;
          }
        }
      }
    }
  }

  .view-content {
    .views-row {
      margin: 0 0 0.5rem;

      @media only screen and (max-width: 767px) {
        border-bottom: 1px solid $gray-300;
        padding-bottom: 0.5rem;
        align-items: center;

        .views-field-title {
          width: 70%;
        }

        .views-field-nothing {
          width: 30%;
          text-align: right;
        }
      }
    }
  }
}

.view-category-page-right-buttons-grey-header {
  &.view-display-id-block_3 {
    .btn {
      font-size: 0.875rem;
    }
  }
}

.view-tutorials {
  .view-content {
    .views-complex-grouping-leave {
      margin-bottom: 2rem;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  h3 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.view-dc-books-categories {
  &.view-display-id-books_block {
    .views-field-field-dcb-category-icon,
    .views-field-name {
      display: inline-block;
    }

    .views-field-field-dcb-category-icon {
      margin-right: 0.5rem;
    }

    .views-field-name {
      vertical-align: top;
    }

    .views-field-description__value {
      display: block;
    }
  }
}

.view-all-locations-for-a-category,
.view-near-me-pages {
  .view-content {
    h3 {
      margin-top: 1.5rem;
    }
  }
}

.view-course-date-detail-panel-content {
  .add-to-cart-link {
    background-color: #ff9801;
    border-color: #ff9801;
    color: white;

    &:hover {
      color: white;
      background-color: #da8100;
      border-color: #cd7a00;
    }
  }

  iframe {
    width: 100%;
  }
}

.view-commerce-cart-form,
.cart-form,
.view-commerce-checkout-order-summary {
  .cart-number-of-students {
    .form-item {
      margin: 0;
    }
  }

  #edit-actions,
  #edit-actions--2 {
    text-align: right;

    .form-submit {
      margin-right: 0;
    }

    #edit-checkout {
      background-color: #ff9801;
      border-color: #ff9801;
    }

    .order-total-line-value {
      font-weight: normal;
    }
  }

  .field--name-total-price {
    margin-top: 0.5rem;
  }
}

.cart-form {
  .card {
    input[type="number"] {
      position: relative;
      padding: 0.25rem 0.25rem 0.25rem 0.5rem;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        opacity: 1;
      }
    }

    @media only screen and (min-width: 767px) and (max-width: 1400px) {
      font-size: 0.85rem;

      input[type="number"] {
        font-size: 0.85rem;
      }
    }
  }
}

.view .table thead {
  @media only screen and (min-width: 767px) {
    font-size: 0.85rem !important;
  }
  background-color: transparent;
  color: #000;
  line-height: normal;
}

.view-secondary-city-classes {
  .views-row {
    .views-field-field-courses-in-category {
      .item-list {
        ul {
          margin: 0;
        }
      }
    }
  }
}

#views-exposed-form-search-search-page {
  img {
    max-width: 32px;
  }
}
