.left-sidebar {
  .webform-submission-add-form {
    background-color: $black;
    color: $white;
    padding: 1rem 1.3rem;

    .form-item-header {
      padding-top: 0;
    }

    .form-type-textfield,
    .form-type-email {
      margin: 0.3rem 0;
    }

    .form-type-radios {
      .form-type-radio {
        margin: 0;
      }
    }

    .form-submit {
      width: 100%;
    }
  }
}
